<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first">Preencha os campos abaixo:</h4>
    </modal-header>
    <modal-body>
        <div class="alert {{ dataGrid.alert.cssClass }} alert-dismissible fade show" role="alert" *ngIf="dataGrid.alert.status">
            <span [innerHTML]="dataGrid.alert.title"></span>{{ dataGrid.alert.message }} 
        </div>
        
        <form novalidate [formGroup]="userDetails" (ngSubmit)="onSubmit(userDetails)">
            <div class="form-group">
                <label for="pergunta">Frase:</label>
                <textarea formControlName="pergunta" cols="30" rows="5" class="form-control" autofocus></textarea>

                <br />

                <div class="form-check">
                    <label class="form-check-label mg-right">
                        <input type="radio" class="form-check-input" formControlName="active" value="true" [checked]="htmlActive == true || htmlActive != true" />
                        Ativo
                    </label>

                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="active" value="false" [checked]="htmlActive == false" />
                        Inativo
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="userDetails.invalid">Cadastrar</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancelar</button>
        </form>
    </modal-body>
</modal>
