<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first">Preencha os campos abaixo:</h4>
    </modal-header>
    <modal-body>
        <form novalidate [formGroup]="userDetails" (ngSubmit)="onSubmit(userDetails)">
            <div class="form-group">
                <label for="pergunta">Pergunta:</label>
                <input type="text" style="width: 100%;" class="form-control" formControlName="pergunta" id="pergunta" autofocus>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="userDetails.invalid">Cadastrar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
        </form>
    </modal-body>
</modal>
