<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first">Edite os campos abaixo:</h4>
    </modal-header>
    <modal-body>
        <form novalidate [formGroup]="userDetails" (ngSubmit)="onSubmit( userDetails )">
            <div class="form-group">
                <label for="pergunta">Frase:</label>
                <input type="text" formControlName="pergunta" id="pergunta" class="form-control" autofocus>

                <br />

                <div class="form-check">
                    <label class="form-check-label mg-right">
                        <input type="radio" class="form-check-input" formControlName="active" id="optionsRadios1" value="true" [checked]="htmlActive == true" />
                        Ativo
                    </label>

                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="active" id="optionsRadios1" value="false" [checked]="htmlActive == false" />
                        Inativo
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="userDetails.invalid">Editar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
        </form>
    </modal-body>
</modal>
