<!-- <app-header></app-header> -->

<section>
    <div class="container-fluid">

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label for="sel-multi1">Perguntas disponíveis:</label>
                    <select multiple="multiple" id="sel-multi1" class="form-control sel-multiple">
                        <option value="1">Frase 1</option>
                        <option value="2">Frase 2</option>
                        <option value="3">Frase 3</option>
                        <option value="4">Frase 4</option>
                        <option value="5">Frase 5</option>
                        <option value="6">Frase 6</option>
                        <option value="7">Frase 7</option>
                        <option value="8">Frase 8</option>
                        <option value="9">Frase 9</option>
                        <option value="10">Frase 10</option>
                    </select>
                </div>
            </div>

            <div class="col-1 align-self-center">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary"><i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-primary"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="sel-multi2">Questões inseridas:</label>
                    <select multiple="multiple" id="sel-multi2" class="form-control sel-multiple">

                    </select>
                </div>
            </div>

            <div class="col-1 align-self-center">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-default"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-default"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-default"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                </div>

                <div class="col-12 d-flex justify-content-center mg-top-1">
                    <button class="btn btn-default"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>

</section>
