<header class="container-fluid">
    <ul class="nav nav-pills" *ngIf="menuEnabled">

        <li class="nav-item">
            <a class="nav-link" routerLink="/question/list" routerLinkActive="active">Frases</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/page/list" routerLinkActive="active">Páginas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/survey/list" routerLinkActive="active">Questionários</a>
        </li>

    </ul>
</header>
