<app-header [menuEnabled]="menuEnabled"></app-header>
<section>
    <div class="container-fluid">
        <div class="row no-mg">
            <div class="col-12 col-sm-2 box-filter">
                <h4 class="text-info">Filtro</h4>
                <br />
                <form #form name="form">

                    <!-- Form fields-->

                    <label>Por título:</label>
                    <input #search type="text" placeholder="Buscar por..." (keyup)="dataGrid.search('title', search.value)" class="form-control" />
                    <br />

                    <label>Por descrição:</label>
                    <input #descriptionSearch type="text" placeholder="Buscar por..." (keyup)="dataGrid.search('description', descriptionSearch.value)" class="form-control" />
                    <br />

                    <label>Por valor:</label>
                    <div class="input-group">
                        <!--
                        <label class="form-check-label mg-right">
                            <input type="radio" class="form-check-input" name="optValor" id="optValor" value="true" (click)="dataGrid.searchNumber('valor', valorSearch.value, true)" />
                            <=
                        </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optValor" id="optValor" value="false" (click)="dataGrid.search('valor', valorSearch.value, false)" />
                            >=
                        </label>
                        -->
                        <span class="input-group-addon">R$</span>
                        <input #valorSearch type="text" placeholder="Buscar por..." (keyup)="dataGrid.search('valor', valorSearch.value)" class="form-control currency" type="number" value="" min="0" step="25" data-number-to-fixed="2" data-number-stepfactor="100" />
                    </div>
                    <br />

                    <label>Cortesia:</label>
                    <div class="form-check">
                        <label class="form-check-label mg-right">
                            <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios1" value="true" (click)="dataGrid.search('cortesia', true)" />
                            Sim
                        </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios1" value="false" (click)="dataGrid.search('cortesia', false)" />
                            Não
                        </label>
                    </div>
                    <br />

                    <label>Por status:</label>
                    <div class="form-check">
                        <label class="form-check-label mg-right">
                            <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios2" value="true" (click)="dataGrid.search('active', true)" />
                            Ativo
                        </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios2" id="optionsRadios2" value="false" (click)="dataGrid.search('active', false)" />
                            Inativo
                        </label>
                    </div>
                    <br />

                    <!-- Form fields -->

                    <filter-controls [form]="form" [dataGrid]="dataGrid"></filter-controls>
                </form>
            </div>
            <div class="col no-pd-right">
                <alert #alert></alert>

                <!-- Datagrid -->
                <data-grid-solutions [alert]="alert" class="table table-hover table-bordered"></data-grid-solutions>
            </div>
        </div>
    </div>
</section>
