<app-header></app-header>

<section>
    <div class="container-fluid">

        <div class="row no-mg">

            <div class="col-2 box-filter">
                <h4 class="text-info">Filtro das questões</h4>
                <br />
                <form #frmQuestion name="frmQuestion">
                    <label for="xxx">Busca geral:</label>
                    <input #search type="text" placeholder="Buscar em todos por..." (keydown.enter)="onSearch(search.value)" class="form-control" />
                    <br />
                    <label for="xxx">Por pergunta:</label>
                    <input type="text" id="xxx" class="form-control" />
                    <br />
                    <label for="xxx">Por status:</label>
                    <div class="form-check">
                        <label class="form-check-label mg-right">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked />
                            Ativo
                        </label>

                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" />
                            Inativo
                        </label>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button (click)="clearFilter( frmQuestion )" class="btn btn-danger">Limpar</button>
                        <button (click)="onSearch(search.value)" class="btn btn-success mg-left">Filtrar</button>
                    </div>
                </form>
            </div>

            <div class="col">
                <data-grid class="table table-hover table-bordered"></data-grid>
            </div>
        </div>
    </div>

</section>
