<app-header [menuEnabled]="menuEnabled"></app-header>

<section>
    <div class="container-fluid">

        <div class="row no-mg">

            <div class="col-12 col-sm-2 box-filter">
                <h4 class="text-info">Filtro dos questionários</h4>
                <br />
                <form #frmPages name="frmPages">
                    <label for="xxx">Por nome:</label>
                    <input #search type="text" placeholder="Buscar por..." (keydown.enter)="onSearch(search.value)" class="form-control" />
                    <br />
                    <label for="xxx">Por status:</label>
                    <div class="form-check">
                        <label class="form-check-label mg-right">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="true" checked />
                            Ativo
                        </label>

                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="false" />
                            Inativo
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="exampleSelect1">Questionários por página:</label>
                        <select #perPage (change)="setPerPage( perPage.value )" class="form-control" id="exampleSelect1" style="width: 100px">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button (click)="clearFilter( frmPages )" class="btn btn-default">Limpar</button>
                        <button (click)="onSearch(search.value)" class="btn btn-success mg-left">Filtrar</button>
                    </div>
                </form>
            </div>

            <div class="col no-pd-right">
                <div class="row">
                    <div class="col-12">
                        <div class="alert {{ dataGrid.alert.cssClass }} alert-dismissible fade show" role="alert" *ngIf="dataGrid.alert.status">
                            <button type="button" class="close" aria-label="Close" (click)="closeAlert(); false;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span [innerHTML]="dataGrid.alert.title"></span>{{ dataGrid.alert.message }} 
                        </div>
                    </div>
                </div>
                <data-grid-survey class="table table-hover table-bordered"></data-grid-survey>
            </div>
        </div>
    </div>

</section>
