@import "../assets/mixins/global-imports";

.mg-top-1 {
    margin-top: 5px;
}

.mg-top-2 {
    margin-top: 10px;
}

.mg-top-3 {
    margin-top: 15px;
}

.mg-top-4 {
    margin-top: 20px;
}

.container {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.no-mg {
    margin-left: 0;
    margin-right: 0;
}

.no-pd-right {
    padding-right: 0;
}

.mg-right {
    margin-right: 15px;
}

.mg-left {
    margin-left: 5px;
}

/* Mobile */
@media (max-width: #{$tablet-width - 1px}) {}
/* Tablet */
@media (min-width:#{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {}
/* 1024px */
@media (min-width:#{$tablet-width}) and (max-width: 1024px) {}

// Loading animation
@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #93dbe9;
    -webkit-transform-origin: 80px 82px;
    transform-origin: 80px 82px;
}

.lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

// Styled checkbox
.tgl {
    display: none;
    // add default box-sizing for this scope
    &,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn,
    &:after,
    &:before {
        box-sizing: border-box;

        &::selection {
            background: none;
        }
    }

    + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .tgl-btn:after {
        left: 50%;
    }
}

.tgl-skewed {
    + .tgl-btn {
        overflow: hidden;
        transform: skew(-10deg);
        backface-visibility: hidden;
        transition: all 0.2s ease;
        font-family: sans-serif;
        background: #888;

        &:after,
        &:before {
            transform: skew(10deg);
            display: inline-block;
            transition: all 0.2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0,0,0,.4);
        }

        &:after {
            left: 100%;
            content: attr(data-tg-on);
        }

        &:before {
            left: 0;
            content: attr(data-tg-off);
        }

        &:active {
            background: #888;

            &:before {
                left: -10%;
            }
        }
    }

    &:checked + .tgl-btn {
        background: #86d993;

        &:before {
            left: -100%;
        }

        &:after {
            left: 0;
        }

        &:active:after {
            left: 10%;
        }
    }
}

// modal overrides
.modal-header {
  padding-bottom: 0px !important;
}


// data-grid overrides
.ng2-smart-actions {
    white-space: nowrap;
}
