header {
    padding: 10px 15px;
}

// .nav-item-main > a:not(.active) {
  // background-color: #004466;
    // color: #00AACC;
// }

.nav-item-main > a.active {
    background-color: #004466;
    color: #FFFFFF;
}

.nav-item-main > .active, .nav-item-main > .active:hover {
    background-color: #004466 !important;
}


.nav-pills-secondary {
  margin-top: 0px !important;
}

.nav-pills-secondary > li > a:not(.active) {
    color: #00AACC;
}

.nav-pills-secondary > li > a.active {
    color: #FFFFFF;
}

.nav-pills-secondary > li > .active, .nav-pills-secondary > li > .active:hover {
    background-color: #00AACC;
}
