<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first" *ngIf="type == 'create'">Preencha os campos abaixo:</h4>
        <h4 class="flex-first" *ngIf="type == 'edit'">Edite os campos abaixo:</h4>
    </modal-header>
    <modal-body>
        <alert #alert></alert>

        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <!-- Form -->
            <label for="question">Questão:</label>
            <textarea formControlName="question" cols="30" rows="5" class="form-control" autofocus></textarea>
            <br />

            <div class="row">
                <div class="col-2 col-sm-1">
                    <span>Ativo</span>
                </div>
                <div class="col-2 col-sm-1">
                    <input class="tgl tgl-skewed" type="checkbox" name="active" id="active" formControlName="active" [checked]="object.active" />
                    <label class="tgl-btn" data-tg-off="NÃO" data-tg-on="SIM" for="active"></label>
                </div>
            </div>

            <br />

            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'create'">Salvar</button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="type == 'create'">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'edit'">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" *ngIf="type == 'edit'">Cancelar</button>
        </form>
    </modal-body>
</modal>
