<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="flex-first" *ngIf="type == 'create'">Preencha os campos abaixo:</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && !(isAdmin || isDistributor)">Template: {{ object.name }}</h4>
        <h4 class="flex-first" *ngIf="type == 'edit' && (isAdmin || isDistributor)">Template: {{ object.name }}, Cliente: {{ object.clientId }}</h4>
    </modal-header>
    <modal-body>
        <alert #alert></alert>


        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <!-- Form -->

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="subject">Assunto:</label>
                            <input type="text" formControlName="subject" class="form-control" />
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="senderName">Nome do remetente:</label>
                            <input type="text" formControlName="senderName" class="form-control" />
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="senderEmail">Email do remetente:</label>
                            <input type="text" formControlName="senderEmail" class="form-control" />
                        </div>



                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-mg">
                        <label for="description" class="mg-top-2">Descrição:</label>
                        <p class="description">{{ form.controls['description'].value }}</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea id="contentEditor" formControlName="content" rows="10" class="form-control" autofocus></textarea>
                </div>
            </div>

            <!-- /Form -->

            <br />

            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'create'">Salvar</button>
            <button type="button" class="btn btn-default" (click)="close()" *ngIf="type == 'create'">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="type == 'edit'">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" *ngIf="type == 'edit'">Cancelar</button>
        </form>
    </modal-body>
</modal>
