@import "../../../assets/mixins/global-imports";

.table-bordered {
    border: 0 none;
}

i.fa {
    &:before {
        padding-right: 3px;
    }

    span {
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
    }
}

th.ng2-smart-actions {
    width: 210px;
}

th.ng2-smart-actions-title,
td.ng2-smart-actions {
    text-align: center;
}

a.ng2-smart-action {
    @include radius(4px);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: rems(12px);
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.ng2-smart-action-add-add {
    color: #ffffff !important;
    background-color: #6958CC;
    border-color: #6A58C4;
}

a.ng2-smart-action-edit-edit {
    // color: #fff !important;
    // background-color: #286090;
    // border-color: #204d74;

    color: #286090;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.ng2-smart-action-delete-delete {
    // color: #fff !important;
    // background-color: #d9534f;
    // border-color: #d43f3a;

    color: #d9534f !important;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.ng2-smart-action-edit-edit,
a.ng2-smart-action-delete-delete {
    &:hover {
        background-color: #f1f1f1;
    }
}

a.ng2-smart-action-add-create,
a.ng2-smart-action-edit-save {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

a.ng2-smart-action-add-cancel,
a.ng2-smart-action-edit-cancel {
    color: #333 !important;
    background-color: #e1e1e1;
    border-color: #ccc;
}

.ng2-smart-pagination-nav {
    margin-top: 15px;
}

h4 {
    font-size: rems(20px);
}

button.btn {
    @include cursor-hand();
}

.box-filter {
    @include radius(4px);
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #e9e9e9;
}

.no-mg {
    margin-left: 0;
    margin-right: 0;
}

.no-pd-right {
    padding-right: 0;
}

.mg-right {
    margin-right: 15px;
}

.mg-left {
    margin-left: 5px;
}

.check {
    width: 50px;
    margin: 3px auto 0;
    text-align: center;

    *,:before,:after{
        box-sizing:border-box;
        margin:0;
        padding:0;
        /*transition*/
        -webkit-transition:.25s ease-in-out;
        -moz-transition:.25s ease-in-out;
        -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
        outline:none;
        font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
    }

    .ios-toggle,
    .ios-toggle:active {
        position: absolute;
        top: -5000px;
        height: 0;
        width: 0;
        opacity: 0;
        border: none;
        outline: none;
    }

    .checkbox-label {
        display: block;
        position: relative;
        padding: 10px;
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        height: 24px;
        /*border-radius*/
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        background: #f8f8f8;
        cursor: pointer;
    }

    .checkbox-label:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        line-height: 22px;
        text-indent: 28px;
        height: 24px;
        width: 24px;
        /*border-radius*/
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        top: 0px;
        left: 0px;
        right: auto;
        background: white;
        /*box-shadow*/
        -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
        -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
        box-shadow: 0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #dddddd;
    }

    .checkbox-label:after {
        content: attr(data-off);
        display: block;
        position: absolute;
        z-index: 0;
        top: -5px;
        left: -296px;
        padding: 10px;
        height: 100%;
        width: 300px;
        text-align: right;
        color: #bfbfbf;
        white-space: nowrap;
    }

    .ios-toggle:checked + .checkbox-label {
        /*box-shadow*/
        -webkit-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
        -moz-box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
        box-shadow: inset 0 0 0 20px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1);
    }

    .ios-toggle:checked + .checkbox-label:before {
        left: calc(100% - 24px);
        /*box-shadow*/
        -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
        box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
    }

    .ios-toggle:checked + .checkbox-label:after {
        content: attr(data-on);
        left: 50px;
        width: 24px;
        color: #333;
    }
}

/* Mobile */
@media (max-width: #{$tablet-width - 1px}) {

}

/* Tablet */
@media (min-width:#{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {

}

/* 1024px */
@media (min-width:#{$tablet-width}) and (max-width: 1024px) {

}
